// This color is used when hovering or active state of the left panel buttons, as well as when hovering over the code and configuration options of the right panel
// also checkbox color
@sui-blue-1: hsl(209, 100%, 50%);
// Options color
@sui-blue-2: hsl(209deg, 96%, 33%);
// Owerflow right bar color
@sui-blue-3: hsl(219deg, 15%, 43%);
// The main color of the panels also  used in the right panel
@sui-blue-deep-1: hsl(219deg, 100%, 14%);
// The color refers to the site header
@sui-blue-deep-2: hsl(219deg, 100%, 10%);
// The color refers to the site header input
@sui-blue-deep-3: hsl(212deg, 100%, 17%);
// The color is used in the cap on the arrows, arrows disabled color
@sui-gray-1: hsl(0deg, 0%, 41%);
// Overflow right bar
@sui-gray-2: hsl(219deg, 11%, 63%);
// General page background
@sui-gray-3: hsl(219deg, 11%, 54%);
// General left bar buttons
@sui-gray-4: hsl(219deg, 29%, 28%);

@sui-white: hsl(0deg, 0%, 100%);

@sui-category-grad: linear-gradient(174.71deg, rgba(0, 0, 0, 0.2) 15.64%, rgba(255, 255, 255, 0) 95.76%), hsl(0deg, 0%, 22%);

// Left bar colors:
//    @sui-gray-4       - buttons left bar general
//    @sui-gray-2       - oferflow left bar color
//    @sui-category-grad
//
// Right bar colors:
//    @sui-blue-1       - checkbox color
//    @sui-blue-2       - options color
//    @sui-blue-3       - overflow right bar color
