// The color refers to the site header
@sui-headerColor: hsl(219, 100, 10, 100%);
// This color is used when hovering or active state of the left panel buttons, as well as when hovering over the code and configuration options of the right panel
@sui-buttonsHover: hsl(209, 100, 50, 100%);
// The main color of the panels
@sui-generalDarkerBlue: hsl(219, 100, 14, 100%);
// The color is used in the right panel
@sui-optionsColor: hsl(212, 100, 17, 100%);
// The color is used in the cap on the arrows
@sui-arrowsDisabledColor: hsl(0, 0, 41, 100%);
// Default white color
@sui-white: hsl(0, 0, 100, 100%);
// Page's background
@sui-generalPageBackground: hsl(222, 11, 54, 100%);
// Left bar color's
@sui-generalButtonsLeftBar: hsl(220, 29, 28, 100%);
@sui-boxShadowLeftBar: 2px 0px 4px rgba(0, 0, 0, 0.25);
@sui-categoryGradient: linear-gradient(174.71deg, rgba(0, 0, 0, 0.2) 15.64%, rgba(255, 255, 255, 0) 95.76%), hsl(0, 0, 22, 100%);
@sui-overflowRightBarColor: hsl(223, 11, 63, 100%);
// Right bar color's
@sui-boxShadowRightBar: -2px 0px 4px rgba(0, 0, 0, 0.25);
@sui-overflowRightBarColor: hsl(220, 15, 43, 100%);
@sui-optionsColor: hsl(210, 96, 33, 100%);
@sui-checkBoxColor: hsl(209, 100, 50, 100%);