<header class="sui-header__wrapper">
    <div class="sui-header__content">
        <a class="sui-header__content-mainlink" href="/"><img class="sui-header__content-logotype" src="../../../assets/icons/logotype.svg" alt="simple ui logotype"></a>
        <div class="sui-header__navigation">
            <nav class="sui-header__navigation-wrapper">
                <input type="text" class="sui-header__navigation-zoomInput" placeholder="{{scale}}%" maxlength="3">
                <div class="sui-header__navigation-zoomBtns">
                    <button type="button" class="sui-header__navigation-btn">
                        <svg-icon [svgClass]="'sui-header__navigation-btnZoom'" src="../../../assets/icons/header-zoom-in.svg"></svg-icon>
                    </button>
                    <button type="button" class="sui-header__navigation-btn _zoom">
                        <svg-icon [svgClass]="'sui-header__navigation-btnZoom'" src="../../../assets/icons/header-zoom-out.svg"></svg-icon>
                    </button>
                </div>
                <div class="sui-header__navigation-actions">
                    <button type="button" class="sui-header__navigation-btn _arrow">
                        <svg-icon src="../../../assets/icons/header-back-arrow.svg"></svg-icon>
                    </button>
                    <button type="button" class="sui-header__navigation-btn _arrow">
                        <svg-icon src="../../../assets/icons/header-next-arrow.svg"></svg-icon>
                    </button>
                    <button type="button" class="sui-header__navigation-btn _remove">
                        <svg-icon src="../../../assets/icons/header-remove.svg"></svg-icon>
                    </button>
                    <button type="button" class="sui-header__navigation-btn _grid">
                        <svg-icon src="../../../assets/icons/header-grid-btn.svg"></svg-icon>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <div class="sui-header__rainbowBorder"></div>
</header>
