@import "../../../assets/styles/variables/colors";

.sui-header {
    &__wrapper {
        background: @sui-blue-deep-2;
        box-sizing: border-box;
    }

    &__content {
        display: flex;
        padding: 5px 0px 5px 30px;

        &-logotype {
            width: 45px;
            height: 45px;
        }
    }

    &__rainbowBorder {
        height: 2px;
        background: linear-gradient(90deg, #FF0000 29.07%, #FF7A00 37.58%, #FAFF00 46.37%, #00FF29 56.28%, #0094FF 66.32%, #0038FF 76%, #5200FF 84.21%);
        animation: rainbowLoad .5s ease-in-out;
    }

    &__navigation {
        width:100%;
        display: flex;
        justify-content: center;
        &-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            height:45px;
            gap:10px;
        }
        &-zoomInput{
            width: 50px;
            height:25px;
            text-align: center;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            background: @sui-blue-deep-3;
            color: @sui-white;
            &::placeholder{
                color:@sui-white;
                font-size: 14px;
            }
        }
        &-btn{
            box-sizing: border-box;
            padding-top: 5px;
        }
        &-btnZoom{
            fill:@sui-white;
            transition:.2s;
            pointer-events:all;
            &:hover{
                fill:@sui-blue-1;
            }
        }

        &-actions{
            display: flex;
        }
    }
}

@keyframes rainbowLoad {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
