<div class="panel__wrapper">
    <div class="panel__search">
        <input
            #inputSearch
            class="panel__search-input"
            type="text"
            placeholder="Search Component"
            [(ngModel)]="value"
        />
    </div>
    <div class="panel__content">
        <ng-container *ngFor="let itemGroup of groupItems">
            <div
                class="panel__component-group component-group"
                *ngIf="dataComponents | filter: value | group: itemGroup"
            >
                <div class="component-group__header">
                    <h2 class="component-group__header-text">{{ itemGroup.group }}</h2>
                </div>
                <div class="component-group__wrapper">
                    <ng-container *ngFor="let item of dataComponents | filter: value">
                        <div
                            class="component-group__item"
                            (mouseenter)="showPopup(item.component, $event)"
                            (click)="_addComponent(item.component)"
                            *ngIf="item.group === itemGroup.group"
                        >
                            <svg-icon class="component-group__item-svg" src="{{ item.svgUrl }}"></svg-icon>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #popupContainer></ng-template>
</div>
