<section
    class="sui-board__field"
    draggable="false"
    [ngClass]="{ _smooth: boardSettingsService.isTransition }"
    [style.transform]="
        'scale(' +
        boardSettingsService.scale +
        ') translate(' +
        boardSettingsService.translateX +
        'px, ' +
        boardSettingsService.translateY +
        'px)'
    "
    #field
>
    <h1>Scale {{ boardSettingsService.scale }}</h1>
</section>

<div
    class="sui-board__move-plug"
    draggable="false"
    [ngClass]="{ _active: _showDragPannel, _dragging: _dragging }"
    #fieldMovePlug
></div>
