@import '/src/assets/styles/variables/colors.less';

:host {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-width: 100%;

    background-color: @sui-gray-3;

    &._infinite {
        background-color: @sui-white;
        & .sui-board__field {
            overflow: initial;
        }
    }
}

.sui-board {
    &__field {
        position: absolute;

        overflow: hidden;

        background-color: @sui-white;

        &._smooth {
            transition: transform 0.3s ease-out, height 0.3s ease-out, width 0.3s ease-out;
        }

        &-showcases{
            position: relative;
            z-index: 5;
        }
    }

    &__move-plug {
        position: absolute;
        height: 0;
        width: 0;
        z-index: -1;
        opacity: 0;

        &._active {
            height: 100%;
            width: 100%;
            opacity: 1;
            z-index: 1000;

            cursor: grab;
        }

        &._active._dragging {
            cursor: grabbing;
        }
    }
}