<section
    class="sui-board__field"
    draggable="false"
    [ngClass]="{ _smooth: boardSettingsService.isTransition }"
    [style.transform]="boardSettingsService.transformStyle$ | async"
    [style.height]="boardSettingsService.height + 'px'"
    [style.width]="boardSettingsService.width + 'px'"
    #field
>
    <!-- Showcases -->
    <div class="sui-board__field-showcases">
        <!-- <h1>Scale {{ boardSettingsService.scale }}</h1> -->
        <!-- <input type="number" [(ngModel)]="boardSettingsService.height" /> -->
        <!-- <input type="number" [(ngModel)]="boardSettingsService.width" /> -->
        <button
            (click)="boardSettingsService.isInteractiveMode = !boardSettingsService.isInteractiveMode"
            [style.outline]="'1px solid gray'"
        >
            Toggle Interactive Mode
        </button>
        <!-- <button
            (click)="boardSettingsService.isInfiniteBoardMode = !boardSettingsService.isInfiniteBoardMode"
            [style.outline]="'1px solid gray'"
        >
            Toggle Infinite Mode
        </button> -->
        <!-- <button (click)="boardConverseService.removeLibraryComponent()" [style.outline]="'1px solid gray'">
            Delete selected
        </button> -->
    </div>

    <sui-grid></sui-grid>

    <div class="sui-board__components">
        <ng-container #viewComponentsContainer></ng-container>
    </div>
</section>

<ng-container #viewContextMenuContainer></ng-container>

<div
    class="sui-board__move-plug"
    draggable="false"
    [ngClass]="{ _active: _isDragPanelShown, _dragging: _isDragging }"
    #fieldMovePlug
></div>
