@import '/src/assets/styles/variables/colors.less';

:host {
    overflow: hidden;
}

.sui-board {
    &__field {
        position: relative;
        background-color: @sui-white;
        &._smooth {
            transition: transform 0.3s ease-out;
        }
        &-showcases{
            position: relative;
            z-index: 5;
        }
    }

    &__move-plug {
        position: absolute;
        height: 0;
        width: 0;
        z-index: -1;
        opacity: 0;

        &._active {
            height: 100%;
            width: 100%;
            opacity: 1;
            z-index: 1000;

            cursor: grab;
        }

        &._active._dragging {
            cursor: grabbing;
        }
    }
}
