@import '/src/assets/styles/variables/colors.less';

:host {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sui-board-item {
    //.sui-board-item__holder
    &__holder {
        //.sui-board-item__holder:not(._interactive)::before
        &:not(._interactive)::before {
            content: ' ';

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: fade(red, 5%); // TODO: Remove or rework this.
        }

        //.sui-board-item__holder._selected
        &._selected {
            box-shadow: 0 0 0 4px @sui-white, 0 0 2px 6px @sui-blue-1;
        }
    }
}
