@import 'src/assets/styles/variables/colors.less';

:host {
    display: inline-block;
    position: absolute;
}

.sui-board-item {
    &__holder {
        &:not(._interactive)::before {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: fade(red, 5%);
        }
    }
}
