@import '/src/assets/styles/variables/colors.less';

:host {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sui-board-item {
    //.sui-board-item__holder
    &__holder {
        //.sui-board-item__holder:not(._interactive)::before
        &:not(._interactive)::before {
            content: ' ';

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 1;

            background-color: fade(@sui-gray-3, 5%);
        }
    }

    //.sui-board-item__selection-border
    &__selection-border {
        position: absolute;
        top: -4px;
        left: -4px;
        height: calc(100% + 8px);
        width: calc(100% + 8px);

        border-radius: 3px;

        transition: box-shadow 0.1s linear;
    }

    //.sui-board-item__holder._selected > .sui-board-item__selection-border
    &__holder._selected > &__selection-border {
        box-shadow: 0 0 2px 2px fade(@sui-blue-1, 80%);
    }
}
