<div *ngIf="isAlive$ | async"
    #popupBody
    [ngClass]="{ 'sui-popup__wrapper': true, _bottom: bottomFlag, _fade: (isFade$ | async) }" 
    [ngStyle]="{ top: popupTopPos, left: popupLeftPos }"
    (mousemove)="onMouseEnter()"
    (mouseenter)="onMouseEnter()"
    >
    <div class="sui-popup__title">
        <h1 class="sui-popup__title-text">{{ popupTitle }}</h1>
        <hr />
    </div>
    <div class="sui-popup__item">
        <ng-template #popupContainer></ng-template>
    </div>
    <div class="sui-popup__description">
        <hr />
        <p class="sui-popup__description-text">{{ popupDescription }}</p>
    </div>
</div>
