@import '/src/assets/styles/variables/colors.less';

:host {
    position: relative;
    display: flex;
    margin-top: 60px; //Compensise header height
    //TODO: delete height from :host when a main layout inside the app.component will be done.
    height: calc(~'100vh - 18px');
    overflow: hidden;
}

.sui-wrapper {
    &__config-panel {
        position: absolute;
        // Just hide this components for board development.
        top: 1em;
        left: 1em;
        z-index: -1;
        opacity: 0;
    }
}
