@import '/src/assets/styles/variables/colors.less';

:host {
    flex: 1;

    display: flex;
    position: relative;

    overflow: hidden;
}

.sui-wrapper {
    &__board {
        flex: 1;
    }

    &__config-panel {
        width: 300px;
        height: 100vh;

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
