@import "colors.less";

//--Local color variables
@sui-sliderCstandartblue: lighten(@lib-blue, 30%);
@sui-sliderCstandartblueHover: lighten(@lib-blue, 25%);
@sui-sliderCstandartblueActive: darken(@lib-blue, 10%);
@sui-sliderCprogressNewGray: lighten(@lib-grey, 10%);
@sui-sliderCprogressNewGrayHover: lighten(@lib-grey, 5%);
@sui-sliderCprogressNewGrayDisabled: darken(@lib-grey, 8%);
@sui-sliderCthumbShadow: 0 0 0 5px hsla(209, 100%, 55%, 0.122);
@sui-sliderCmarkerGradient: linear-gradient(174.71deg, hsla(0, 0%, 0%, 0.2) 15.64%, hsla(0, 0%, 100%, 0) 95.76%), hsl(0, 0%, 22%);
@sui-sliderCBasicFont: Arial, Helvetica, sans-serif;

//--Mixins
//Mixin, performing for the component of styles when the state is disabled
.progressBarDisableStatusHover() {
    .sui-slider__progress {
        &:not(._disabled) {
            cursor: pointer;
            background: @sui-sliderCprogressNewGrayHover;

            &>div {
                background: @sui-sliderCstandartblueHover;
            }
        }

        &._disabled {
            background: @sui-sliderCprogressNewGrayHover;
        }
    }
}

.sui-slider {
    &__wrapper {
        //Need this for marker view
        margin-top: 100px;

        &:active {
            input[type="range"]:not(:disabled)::-webkit-slider-thumb {
                border: 2px solid @sui-sliderCstandartblueActive;
            }

            .progressBarDisableStatusHover();
        }
    }

    //sui-slider__item - basic slider
    &__item {
        position: absolute;
        //General property to change slider styles
        -webkit-appearance: none;
        width: inherit;
        margin-top: -5px;

        &:disabled {
            &::-webkit-slider-thumb {
                border: 2px solid @sui-sliderCprogressNewGrayDisabled;
            }
        }

        //Progress bar background
        &::-webkit-slider-runnable-track {
            background: none;
            height: 5px;
        }

        //Progress bar thumb
        &::-webkit-slider-thumb {
            transition: .2s;
            height: 15px;
            width: 15px;
            border: 2px solid @sui-sliderCstandartblue;
            border-radius: 50%;
            background: @lib-white;
            cursor: pointer;
            -webkit-appearance: none;
        }

        //If slider not disabled and you click on it
        &:not(:disabled) {
            &::-webkit-slider-thumb {
                &:active {
                    box-shadow: @sui-sliderCthumbShadow;
                }
            }
        }
    }

    //sui-slider__mark - marker describing the current value
    &__mark {
        &._disabled {
            opacity: 0;
        }

        position: absolute;
        display: flex;
        align-items: center;
        justify-content:center;
        box-sizing: border-box;
        padding: 5px;
        height:30px;
        margin-top: -42px;
        background:@sui-sliderCmarkerGradient;
        margin-left: 163px;
        color:@lib-white;
        border-radius:10%;
        transition: 1s opacity;

        //sui-slider__mark::after
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 15px;
            margin-top: 25px;
            //Triangle
            clip-path: polygon(50% 90%, 30% 40%, 70% 40%);
            background: @sui-sliderCmarkerGradient;
        }
    }

    //sui-slider__progress - progress bar block
    &__progress {
        width: inherit;
        height: 5px;
        background: @sui-sliderCprogressNewGray;
        transition: .2s;
        border-radius: 50px;

        //sui-slider__progress _disabled - if progress disabled
        &._disabled {
            &>div {
                background: @sui-sliderCprogressNewGrayDisabled;
            }
        }

        //sui-slider__progress-bar - inner progressbar width default options like width = zero%
        &-bar {
            width: 0%;
            height: inherit;
            background: @sui-sliderCstandartblue;
            border-radius: 50px;
        }
    }

    //sui-slider__information - иottom block for slider description
    &__information {
        display: flex;
        padding: 1px;
        justify-content: space-between;
        font-family: @sui-sliderCBasicFont;
        opacity: .5;
        margin-top: 5px;

        //sui-slider__information-text _max - captions for the maximum and minimum values of the slider (max - current)
        &-text._max:only-child {
            margin-left: auto;
        }

        //sui-slider__information-title - slider's legend
        &-title {
            order: 0;
            font-size: 18px;
            font-weight: 200;
        }
    }
}
